{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<div class="jumbotron">
<div class="container">
  <h1 class="display-3">About Us</h1>
  <p>We are building a web app to allow citizens a more transparent look into campaign donations.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/COSCS340/QuantifyingCorruption/blob/master/proposal.md" role="button">Learn more &raquo;</a></p>
</div>
</div>

<div class="container" id="aboutHeaders">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>The Data</h2>
    <p>Our data comes from a group of students currently participating in an independent study. Their study dives deep into how lobbyist/donator party affiliation affects the political party affiliation of the representatives on the receiving end.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>

<hr>

</div> <!-- /container -->
{% endblock %}
