{% extends 'main/base.html' %}
{% block menuextend %}
<ul class="nav navbar-nav navbar-left">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/search">Search</a></li>
  <li><a href="#">About</a></li>
</ul>
{% endblock %}

{% block body %}
{% include 'main/search-bar.html' %}
{% for result in results %}
<div class="content-box">
  <div class="content-box-title">{{ result.name }}</div>
  <br>
  State: {{ result.state }}
  <br>
  Party: {{ result.party }}
</div>
{% endfor %}
{% endblock %}
