{% extends 'main/base.html' %}

{% block menuextend %}
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="#">About</a></li>
</ul>
{% endblock %}

{% load static %}
{% block body %}
<style type="text/css">
body {
    background-image: url('{% static 'main/capitolBuilding.jpeg' %}');
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
<div id="splash-background">
    <div class="center-col">
        <img id="main-logo" src="{% static 'main/QCMarkText.png' %}"/>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="content-box">
          <div class="content-box-title">
            Search for a state or a legislator
          </div>
          {% include 'main/search-bar.html' %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
