/* General */

body {
  background-color: #404040;
}

.display-1 {
  color: #FFFFFF;
  font-size: 46px;
}
.content-box {
  background-color: #777;
  color: white;
  margin: 20px 5px;
  padding: 20px;
}

.content-box-title {
  font-size: 30px;
}

/* Navbar colors */
.navbar-default {
  background-color: #332f2f;
  border-color: #332f2f;
  font-size: 1.3em;
}
.navbar-default .navbar-brand {
  color: #f7f9f9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  font-weight: bold;
  color: #7abace;
}
.navbar-default .navbar-text {
  color: #f7f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f7f9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7abace;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7abace;
  font-weight: bold;
  background-color: #332f2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7abace;
  background-color: #332f2f;
}
.navbar-default .navbar-toggle {
  border-color: #332f2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #332f2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f7f9f9;
}
.navbar-default .navbar-link {
  color: #f7f9f9;
}
.navbar-default .navbar-link:hover {
  color: #7abace;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f7f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7abace;
    font-weight: bold;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7abace;
    font-weight: bold;
    background-color: #332f2f;
  }
}

#top-logo {
    max-width: 120px;
}

/* Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #332f2f;
}

.footer p {
  color: #7abace;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Splash */
#main-logo {
    max-width: 100%;
}

.center-col {
    display: block;
    width: 80%;
    margin: auto;
}

#main-logo {
    padding-top: 80px;
}


/* Search Bar */
.search-bar {
  padding: 20px;
}

.search-bar-box {
  width: 100%;
  padding: 10px;
  color: black;
}

.search-bar-submit {
  width: 100%;
  padding: 10px;
  color: black;
}
